<%- include ("./partials/header") %>

<section class="introduction-section">

  <div class="container  intro-container my-auto">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6" id="containerTitulo">
        <h1 class="titulo">Aprovecha ya esta oportunidad en Spa-Peluqueria canina!</h1>
        <p class="subtitulo">Proporcionamos un servicio de excelencia, nuestra amplia y variada gama de servicios esteticos promete un resultado excelente y gratificante tanto para tu mascota como para ti! </p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <a href="/servicios#quienes-somos"><button type="submit" class="btn  btn-lg btntitulo btninfo">Mas Info</button></a>

      </div>
      <div class="col-md-3">
        <button type="button" class="btn  btn-lg btntitulo btncontant">Contactanos</button>
      </div>
    </div>

  </div>


</section>

<section class="descripciones">

  <div class="container-fluid container-descrip">
    <div class="row d-flex justify-content-center descrip-logo-row">
      <div class="col-md-4">
        <i class="fas fa-dog fa-6x descripciones-logo"></i>
        <h3 class="descripciones-titulo">Recibimos a Todos</h3>
          <p>Recibimos a tu amigo, independientemente de su especie, tamano, color, caracter y gustos. Nos enfocamos a recibir efusivamente a cualquier amigo!</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-heart fa-6x descripciones-logo"></i>
        <h3 class="descripciones-titulo">Trato Diferente</h3>
          <p>En Fashion Pets nos enorgullecemos del amor que sentimos por los animales, asi que ten seguro que tu amigo recibira ese amor tambien!</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-check-circle fa-6x descripciones-logo"></i>
        <h3 class="descripciones-titulo">Servicio Eficaz</h3>
        <p>Disponemos del mejor personal y de los mejores materiales para que tu amigo no solo huela y se vea bien, sino que tambien garantizamos el bienestar de tu amigo y tambien tu satisfaccion!</p>
      </div>
    </div>
  </div>


</section>

<section class="clientes">

  <div class="row justify-content-center">
    <div class="col-md-5">
      <h2>Nuestros Clientes</h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <p class="clientes-texto py-3">En Fashion Pets nuestros clientes, tus amigos, siempre terminan satisfechos y contentos, dejamos que sus experiencias con nosotros hablen por nosotros.</p>
    </div>
  </div>




<div class="row justify-content-center">
  <div class="col-sm-12 d-flex justify-content-center pb-5">
  <div id="carouselExampleControls" class="carousel slide text-center" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row d-flex justify-content-center">
          <div class="col-sm-5 clientes-img">
            <img class="w-50 clientes-imagenes" src="images/cliente1.jpg" alt="First slide">
          </div>
          <div class="col-sm-5 clientes-descrip-carousel">
            <h3 class="clientes-subtitulos">Zeus - Perro - Poodle</h3>
            <p class="clientes-testimonio">Gracias por su excelente trabajo, mi cachorro Zeus quedo muy lindo, estare en contacto para su proximo corte, recomiendo al 100% a tod@s los que tengan mascotas para que queden bellos!</p>
          </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="col-sm-5 clientes-descrip-carousel">
            <h3  class="clientes-subtitulos">Pina - Perro - Schnauzer</h3>
            <p class="clientes-testimonio">Garantizado 100%, trato cordial y servicial con la mascota, mi perrita quedo muy bien y sin ninguna herida o detalle.</p>
          </div>
          <div class="col-sm-5 clientes-img">
            <img class=" w-50 clientes-imagenes text-center" src="images/cliente2.jpg" alt="First slide">
          </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="row justify-content-center">
          <div class="col-sm-5 clientes-img">
            <img class=" w-50 clientes-imagenes" src="images/sample3.jpg" alt="First slide">
          </div>
          <div class="col-sm-5 clientes-descrip-carousel text-center">
            <h3 class="clientes-subtitulos">Pocho - Perro - Poodle</h3>
            <p class="clientes-testimonio"> Maravilloso trabajo! Mi perrito estuvo muy contento durante la sesion y no cabia en si cuando regreso a casa!!! Altamente recomendado para todos, ofrece mucha flexibilidad en cuanto a la ubicacion y a los servicios que ofrece!</p>
          </div>
      </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</div>

</section>


<%- include ("./partials/footer") %>
