<%- include ("./partials/header") %>

<section class="introduction-section-servicios">

  <div class="container my-auto">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6" >
        <h1 class="titulo-servicios">Nuestros Servicios</h1>
      </div>
    </div>
  </div>
</section>

<section class="descripcion-servicios">


<div class="container-fluid justify-content-center">


<div class="row justify-content-center">
  <p class="lista-servicios-titulo">Nuestros servicios incluyen:</p>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-lg col-lista-servicios">
    <ul class="fa-ul lista-servicios">
      <li><span class="fa-li"><i class="fas fa-paw"></i></span>Corte de Uñas</li>
      <li><span class="fa-li"><i class="fas fa-paw"></i></span>Limpieza de Oidos</li>
      <li><span class="fa-li"><i class="fas fa-paw"></i></span>Limpieza de Lagrimales</li>
      <li><span class="fa-li"><i class="fas fa-paw"></i></span>Drenaje de Glandulas Perianales</li>
      <li><span class="fa-li"><i class="fas fa-paw"></i></span>Cepillado de Dientes Superficial</li>
      <li><span class="fa-li"><i class="fas fa-paw"></i></span>Limpieza de Almohadillas Plantares</li>
      <li><span class="fa-li"><i class="fas fa-paw"></i></span>Baño Cosmético</li>
      <li><span class="fa-li"><i class="fas fa-paw"></i></span>Corte con Estilo</li>
      <li><span class="fa-li"><i class="fas fa-paw"></i></span>Accesorio</li>
    </ul>
  </div>
  <div class="col-lg justify-content-center foto-servicios">
      <img class="servicios-img-1" src="https://ontariospca.ca/wp-content/uploads/2015/03/dog-taking-bath-with-shampoo-1-600x400.jpg" alt="dog-bath">

  </div>
</div>

</div>


</section>

<section class="importancia-servicios">

  <div class="row justify-content-center">
    <h1 class="importancia-servicios-titulo">¿Cual es la importancia de nuestros servicios?</h1>
  </div>

  <div class="row justify-content-center">
    <p class="importancia-servicios-titulo-texto">Mantener nuestras mascotas saludables, prestar atención a su higiene, corte de pelo y cepillado, es importante incluso para los de pelo corto. Aun ellos se beneficiaran de estos cuidados y de la estética animal.
La estética animal, no solo vela por el aspecto exterior de tu mascota. No solo sirve para que tu amigo huela bien.  Existen razones médicas para que nos ocupemos del cuidado y el aseo del pelo de nuestras mascotas. Hablemos de algunas de esas razones.
Mantener la cara de tu mascota libre de pelo largo, que puede irritar los ojos, hará que se sienta más cómodo y evitaras que sufra problemas en los ojos, que posteriormente requerirán de revisión médica.</p>
  </div>

  <div class="row justify-content-center">
    <h1 class="importancia-servicios-subtitulo">El Pelo Largo en los Ojos</h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <img  class="servicios-img-2 serv-img-2" src="https://cdn.kinsights.com/cache/70/3b/703bb4f7e9fec3e40b3bf29fdc24f5d7.jpg" alt="pelo-largo-perro">
    </div>
    <div class="col-md-8 importancia-servicios-subtitulo-texto">
      <p class="importancia-servicios-titulo-texto">Aunque nos parezca que es natural en algunas razas tener el pelo largo y que este caiga sobre los ojos, lo cierto es que este exceso de pelo puede llegar a lastimar las córneas o pueden causar infecciones debido a los parásitos que suelen alojarse en el pelo de nuestras mascotas. Por ello, la visita rutinaria a nuestras instalaciones es fundamental.
</p>
    </div>
  </div>


  <div class="row justify-content-center">
    <h1 class="importancia-servicios-subtitulo">Orejas Grandes, Problemas Auditivos</h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8 importancia-servicios-subtitulo-texto">
      <div class="row">
        <p class="importancia-servicios-titulo-texto">Las orejas grandes, caídas, resultan tiernas y entrañables, pero definitivamente cubren el canal auditivo de tu mascota, y genera en esa área un ambiente cálido y húmedo que es propicio para la aparición de infecciones.</p>
      </div>
      <div class="row">
        <p class="importancia-servicios-titulo-texto">Esta es una patología típica de perros como Cocker, Shar-peis y perros perdigueros. Las infecciones en el oído de los perros no solo lesionan su capacidad auditiva sino que resultan muy dolorosas para nuestra mascota.</p>
      </div>
    </div>
    <div class="col-md-4 importancia-servicios-subtitulo-texto">
      <img class="servicios-img-2 serv-img-2" src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2018/04/Basset-Hound_01.jpg" alt="">
    </div>
  </div>


  <div class="row justify-content-center">
    <h1 class="importancia-servicios-subtitulo">La Sonrisa de tu Amigo</h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <img  class="servicios-img-2 serv-img-2" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/do-dogs-smile-1576250232.jpg" alt="pelo-largo-perro">
    </div>
    <div class="col-md-8 importancia-servicios-subtitulo-texto">
      <p class="importancia-servicios-titulo-texto">Las enfermedades dentales en nuestros amigos, igualmente se ocultan tras una amplia y espesa capa de pelo.  Antes de que esto se convierta en un problema en verdad doloroso, es bueno mantener el área de la boca libre de pelo. De esta forma podrás estar pendiente de la salud oral de tu mascota. Para ello, por supuesto es necesario acudir a los servicios de la estética animal.</p>
    </div>
  </div>


  <div class="row justify-content-center">
    <h1 class="importancia-servicios-subtitulo">Todos los Amigos a Estética Animal</h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8 importancia-servicios-subtitulo-texto">
      <div class="row">
        <p class="importancia-servicios-titulo-texto">La mayoría de las mascotas necesitan un baño a fondo por lo menos dos veces al año. Nos referimos a un baño que no nos es posible hacer en casa y que conviene dejar en manos de especialistas en una muy buena y muy profesional.</p>
      </div>
      <div class="row">
        <p class="importancia-servicios-titulo-texto">Solo llevando a cabo este tipo de baño, con su posterior corte de pelo, podremos establecer si nuestro amigo muestra síntomas de algún padecimiento, infección, parásitos, o incluso desnutrición.</p>
      </div>
      <div class="row">
        <p class="importancia-servicios-titulo-texto">Como podemos apreciar, llevar nuestra mascota a la estética no es solo cuestión de vanidad. Él te lo agradecerá y sin duda evitaras tener que llevarlo al veterinario cuando esté enfermo por no cuidar la higiene y el corte del pelo.</p>
      </div>
    </div>
    <div class="col-md-4 importancia-servicios-subtitulo-texto">
      <img class="servicios-img-2 serv-img-2" src="https://thumbs.dreamstime.com/b/group-dogs-cats-white-background-56603668.jpg" alt="">
    </div>
  </div>

  <div class="row justify-content-center">
    <h1 class="importancia-servicios-subtitulo">...Mas Sobre la Importancia de los Ojos de tus Amigos</h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <img  class="servicios-img-2 serv-img-2" src="https://www.southbostonanimalhospital.com/hubfs/Southie-dog-eye-problems-blog.jpg" alt="pelo-largo-perro">
    </div>
    <div class="col-md-8 importancia-servicios-subtitulo-texto">
      <p class="importancia-servicios-titulo-texto">Los animales pueden presentar problemas y enfermedades oculares exactamente igual que las personas y es importante prestarles la debida atención. Unos ojos enrojecidos o que lagrimean de forma constante, unos párpados inflamados (sobre todo si se trata del tercer párpado, propio de los gatos) o unas legañas que impiden que tu mascota pueda abrir los ojos requieren, sin demora, una consulta con el veterinario, porque podrían ser síntoma de múltiples patologías, desde una conjuntivitis a una grave y dolorosa uveítis.
      </p>
      <p class="importancia-servicios-titulo-texto">No hay que alarmarse y conviene recordar que, en un momento dado, tu mascota puede tener unas legañas “moderadas” o una pequeña molestia en los ojos, que hace que acerque su pata constantemente a la cara intentando encontrar alivio. Generalmente, esto no reviste mayor importancia.
Aun así, si tu perro o tu gato hacen ese gesto fácilmente reconocible, siempre es conveniente una minima revisión. Una piedrecita, tierra que ha entrado en sus ojos mientras jugaba en el parque, una brizna de paja o un mal encuentro con otro animal pueden haber provocado una herida, casi inapreciable, en algún punto del ojo, que requiere una limpieza que evite complicaciones en forma de infecciones más o menos graves.
</p>
    </div>
  </div>


  <div class="row justify-content-center">
    <h1 class="importancia-servicios-subtitulo">Respecto a las Glandulas Perianales</h1>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8 importancia-servicios-subtitulo-texto">
      <div class="row">
        <p class="importancia-servicios-titulo-texto">Es muy común ver a los perros olerse entre ellos y a otros arrastrar su trasero por el suelo, pero preste atención que este comportamiento puede ser una señal de que la mascota necesita vaciar su glándulas anales. Estas glándulas, que se encuentran ubicadas al lado del ano tanto perros como en gatos, tienen la función de almacenar un líquido lubricante que producen y de esta manera facilitarle al animal que pueda evacuar mejor sus deposiciones.  Si esta no se cuida con la regularidad  y especialmente si se trata de un perro mayor, pueden sufrir consecuencias como una infección, mal olor e incluso un absceso. Uno de los casos más frecuentes para notar que algunos animales necesitan ayuda, es por ejemplo cuando un perro arrastra su ano por el suelo con frecuencia, muchos se muestran incómodos, caminan con sus colas hacia abajo, tapan la zona e, incluso, pueden negarse a caminar, como consecuencia de la molestia. Todos estos comportamientos son una señal de que necesita vaciar sus glándulas. La manera más sencilla de hacerlo es llevarlo al veterinario. El vaciado de los sacos traseros del perro puede ser doloroso e incómodo para el animal, por lo que es necesario unas manos profesionales para que drenen el contenido manualmente. Preste mucha atención a estos síntomas en las mascotas, ya que en muchos casos no drenar estas glándulas puede generar serios problemas en la salud como infecciones, inflamación, molestias, mal olor, absceso, quistes, adenoma y adenocarcinoma (tumores). Cabe mencionar que el olor que desprenden estas glándulas, aunque pueda ser muy fuerte para los humanos, es algo que define su identidad o marca personal y les ayudar a reconocerse los unos a los otros, es por esto que cuando se encuentran dos canes y se olisquean la parte de atrás mutuamente es porque se están conociendo e identificando.</p>
      </div>
    </div>
    <div class="col-md-4 importancia-servicios-subtitulo-texto">
      <img class="servicios-img-2 serv-img-2" src="https://4.bp.blogspot.com/-guOEkCsB3ng/Uz14rK31eVI/AAAAAAAAKAk/l5gPCaJ8CHY/s1600/perros+oliendo.png" alt="">
    </div>
  </div>

</section>

<section class="quienes-somos pb-5">




<div id="quienes-somos" class="row justify-content-center">
    <h1 name="link-quienes-somos" class="quienes-somos-titulo">Quienes Somos</h1>
</div>

<div class="container-fluid d-flex justify-content-center">

<div class="row">
  <div class="<col-sm columna-quienes-somos>">
    <img class="quienes-somos-img" src="https://www.toolea.com/wp-content/uploads/bfi_thumb/mesa-de-peluqueri%CC%81a-para-perros-35yt4puwjwb0jpduj2amtm.jpg" alt="">
  </div>
  <div class="col-md">
    <p>En Fashion-Pets será servido por personal responsable, amable, carismático y que adora estar con sus amigos peludos, que cuentan con estudios como Auxiliar de veterinaria y peluquería estética en canes y felinos en el instituto “Superarse”. Especializados en cortes a diferentes razas de perros y cuidados estéticos para sus mascotas. </p>
    <p>En Fashion-Pets nos apasionada el bienestar animal, ademas de la higiene de nuestros queridos peludos. </p>
    <p>Nuestra experiencia en peluquería canina y felina es de un año y medio. Nuestra experiencia de trabajo compende compañías como "Tu huella, mi huella" y "Friends pet’s". </p>
    <p>Garantizamos un buen trato a su mascota y un look completamente nuevo y fresco.</p>
    <p>Seguimos en constante desarrollo y nuestro personal actualmente estudia en la UTE Medico Veterinaria, con la esperanza ampliar nuestra gama de servicios en el futuro previsible.</p>

  </div>
</div>


</div>

</section>

<%- include ("./partials/footer") %>
