body{
    font-family: Montserrat;
    background-color: #d2d2d2;
    color: #1d3c54;
}

h1{
    color: #d2d2d2;
    text-align: center;
}

h3 {
    font-family: Lobster;
}



.header-titulo{
    font-family: Lobster;
    font-weight: 900;
}

.titulo {
    color: #d2d2d2;
    text-align: center;
}

.header-image{
    background-color: #1d3c54;
}

.footer {
    background-color: #1d3c54;
    color: #d2d2d2;
    padding: 1rem;
}